# Importing DataFrames

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn. model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

print('Done Importing')

Done Importing

# Undestanding Data

https://www.drivendata.org/competitions/2/warm-up-predict-blood-donations/page/7/

# Reading Train Dataset

In [3]:
df= pd.read_csv('train.csv')

In [4]:
df.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

# Data Exploration

In [5]:
df.columns

Index(['Unnamed: 0', 'Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)', 'Months since First Donation',
       'Made Donation in March 2007'],
      dtype='object')

In [6]:
cdf= df[['Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)', 'Months since First Donation',
       'Made Donation in March 2007']]

In [8]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 5 columns):
Months since Last Donation     576 non-null int64
Number of Donations            576 non-null int64
Total Volume Donated (c.c.)    576 non-null int64
Months since First Donation    576 non-null int64
Made Donation in March 2007    576 non-null int64
dtypes: int64(5)
memory usage: 22.6 KB

In [10]:
x= cdf[['Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)', 'Months since First Donation']]

y= cdf['Made Donation in March 2007']

# Train Test split

In [11]:
x_train, x_test,y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=4)

# Logistic Regression Model

In [14]:
model=LogisticRegression()

In [15]:
model.fit(x_train, y_train)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

## Checking probability

In [40]:
yhat_prob1=model.predict_proba(x_test)
yhat_prob1[0:5]

array([[0.61226635, 0.38773365],
       [0.8953405 , 0.1046595 ],
       [0.53450029, 0.46549971],
       [0.8898404 , 0.1101596 ],
       [0.68321703, 0.31678297]])

# Upload the Test Dataset

In [19]:
df1=pd.read_csv('test.csv')
df1.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,659,2,12,3000,52
1,276,21,7,1750,38
2,263,4,1,250,4
3,303,11,11,2750,38
4,83,4,12,3000,34

## Exploring the Test dataset

In [20]:
df1.columns

Index(['Unnamed: 0', 'Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)', 'Months since First Donation'],
      dtype='object')

In [29]:
cdf1= df1[['Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)', 'Months since First Donation']]

## Run test set on the probability of the model

In [30]:
yhat_prob=model.predict_proba(cdf1)
yhat_prob[0:5]

array([[0.53916242, 0.46083758],
       [0.91060816, 0.08939184],
       [0.68321703, 0.31678297],
       [0.70716767, 0.29283233],
       [0.50360191, 0.49639809]])

### From the test output, separate zeros from ones(Made Donation in March 2017)

In [33]:
donation=pd.DataFrame(yhat_prob, columns=['zeros','Made Donation in March 2007'])
donation.head()

      zeros  Made Donation in March 2007
0  0.539162                     0.460838
1  0.910608                     0.089392
2  0.683217                     0.316783
3  0.707168                     0.292832
4  0.503602                     0.496398

### Concatinate test set with the output

In [34]:
df_final=pd.concat([df1,donation],axis=1)
df_final.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,zeros,Made Donation in March 2007
0,659,2,12,3000,52,0.539162,0.460838
1,276,21,7,1750,38,0.910608,0.089392
2,263,4,1,250,4,0.683217,0.316783
3,303,11,11,2750,38,0.707168,0.292832
4,83,4,12,3000,34,0.503602,0.496398

In [35]:
df_final.columns

Index(['Unnamed: 0', 'Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)', 'Months since First Donation', 'zeros',
       'Made Donation in March 2007'],
      dtype='object')

### Create a new dataset (df_sub) to be submitted involving Unnamed:0 and Made donation in March 2007

In [37]:
df_sub=df_final[['Unnamed: 0','Made Donation in March 2007']]
df_sub.head()

   Unnamed: 0  Made Donation in March 2007
0         659                     0.460838
1         276                     0.089392
2         263                     0.316783
3         303                     0.292832
4          83                     0.496398

### Change the Dataset to csv (to be uploaded)

In [38]:
df_sub.to_csv('mine.csv',index=False,sep=',')

### Data Evaluation

In [41]:
metrics.log_loss(y_test,yhat_prob1)

0.4397635463960188